/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define UP_LYR  0
#define DEFAULT_LYR 1
#define DOWN_LYR    2
#define BOTH_LYR    3
#define FNC_LYR 4

/* Uncomment this block if using RGB
&led_strip {
    chain-length = <6>;
    // chain-length = <31>; // Uncomment if using both per-key and underglow LEDs
    // chain-length = <25>; // Uncomment if using only per-key LEDs.
};
 */

/ {
    keymap {
        compatible = "zmk,keymap";

        up_layer {
            // -------------------------------------------------------------       -------------------------------------------------------------
            // |    ~    |    !    |    @    |    #    |    $    |    %    |       |    ^    |    &    |    *    |    (    |    )    |  BACK   |
            // |   DEL   |   F1    |   F2    |   F3    |   F4    |   F5    |       |   F6    |    _    |    +    |    {    |    }    |    |    |
            // |         |   F7    |   F8    |   F9    |   F10   |   F11   |       |   F12   |    |    |    |    |   HOME  |   END   |  ENTER  |
            // |         |         |         |         |         |         |       |         |BOTH_LAYR|  MUTE   |   VOL-  |  VOL+   |  PLAY   |
            // -------------------------------------------------------------       -------------------------------------------------------------

            bindings = <
            &kp TILDE &kp EXCL &kp AT &kp HASH &kp DOLLAR &kp PRCNT    &kp CARET &kp AMPERSAND &kp ASTRK  &kp LPAR     &kp RPAR     &kp BSPC
            &kp DEL   &kp F1   &kp F2 &kp F3   &kp F4     &kp F5       &kp F6    &kp UNDER     &kp PLUS   &kp LBRC     &kp RBRC     &kp PIPE
            &trans    &kp F7   &kp F8 &kp F9   &kp F10    &kp F11      &kp F12   &kp PIPE      &kp PIPE   &kp HOME     &kp END      &kp ENTER
            &trans    &trans   &trans &trans   &trans     &trans       &trans    &mo BOTH_LYR  &kp K_MUTE &kp K_VOL_UP &kp K_VOL_DN &kp K_PP
            >;
        };

        default_layer {
            // -------------------------------------------------------------       -------------------------------------------------------------
            // |   TAB   |    Q    |    W    |    E    |    R    |    T    |       |    Y    |    U    |    I    |    O    |    P    |  BACK   |
            // |   CAPL  |    A    |    S    |    D    |    F    |    G    |       |    H    |    J    |    K    |    L    |    ;    |    '    |
            // |  SHIFT  |    Z    |    X    |    C    |    V    |    B    |       |    N    |    M    |    ,    |    .    |    /    |  ENTER  |
            // |   FN    |   CTRL  |   OPT   |  L CMD  | UP_LAYER|  SPACE  |       |  SPACE  | DN_LAYER|   LEFT  |   DOWN  |    UP   |  RIGHT  |
            // -------------------------------------------------------------       -------------------------------------------------------------

            bindings = <
            &kp TAB     &kp Q      &kp W    &kp E    &kp R      &kp T        &kp Y      &kp U        &kp I     &kp O    &kp P     &kp BSPC
            &kp CAPS    &kp A      &kp S    &kp D    &kp F      &kp G        &kp H      &kp J        &kp K     &kp L    &kp SEMI  &kp SQT
            &kp LSHFT   &kp Z      &kp X    &kp C    &kp V      &kp B        &kp N      &kp M        &kp COMMA &kp DOT  &kp SLASH &kp ENTER
            &mo FNC_LYR &kp LCTRL  &kp LALT &kp LGUI &mo UP_LYR &kp SPACE    &kp SPACE  &mo DOWN_LYR &kp LEFT  &kp DOWN &kp UP    &kp RIGHT
            >;
        };

        down_layer {
            // -------------------------------------------------------------       -------------------------------------------------------------
            // |    `    |    1    |    2    |    3    |    4    |    5    |       |    6    |    7    |    8    |    9    |    0    |  BACK   |
            // |   DEL   |   F1    |   F2    |   F3    |   F4    |   F5    |       |   F6    |    -    |    =    |    [    |    ]    |    \    |
            // |         |   F7    |   F8    |   F9    |   F10   |   F11   |       |   F12   |    \    |    \    |   PGUP  |   PGDN  |  ENTER  |
            // |         |         |         |         |BOTH_LAYR|         |       |         |         |  MUTE   |   VOL-  |  VOL+   |  PLAY   |
            // -------------------------------------------------------------       -------------------------------------------------------------

            bindings = <
            &kp TAB &kp N1 &kp N2 &kp N3 &kp N4       &kp N5     &kp N6  &kp N7    &kp N8     &kp N9       &kp N0       &kp BSPC
            &kp DEL &kp F1 &kp F2 &kp F3 &kp F4       &kp F5     &kp F6  &kp MINUS &kp EQUAL  &kp LBKT     &kp RBKT     &kp BSLH
            &trans  &kp F7 &kp F8 &kp F9 &kp F10      &kp F11    &kp F12 &kp BSLH  &kp BSLH   &kp PG_UP    &kp PG_DN    &kp ENTER
            &trans  &trans &trans &trans &mo BOTH_LYR &trans     &trans  &trans    &kp K_MUTE &kp K_VOL_UP &kp K_VOL_DN &kp K_PP
            >;
        };

        both_layer {
            // -------------------------------------------------------------       -------------------------------------------------------------
            // |  RESET  |  FLASH  |         |         |         |         |       |  RESET  |  FLASH  |         |         |         |   DEL   |
            // |         |         |         |         |         |         |       |         |         |         |         |         |         |
            // |         |         |         |         |         |         |       |         |         |         |         |         |         |
            // |         |         |         |         |         |         |       |         |         |         |         |         |         |
            // -------------------------------------------------------------       -------------------------------------------------------------

            bindings = <
            &sys_reset &bootloader &trans &trans &trans &trans    &sys_reset &bootloader &trans &trans &trans &trans
            &trans     &trans      &trans &trans &trans &trans    &trans     &trans      &trans &trans &trans &trans
            &trans     &trans      &trans &trans &trans &trans    &trans     &trans      &trans &trans &trans &trans
            &trans     &trans      &trans &trans &trans &trans    &trans     &trans      &trans &trans &trans &trans
            >;
        };

        function_layer {
            // -------------------------------------------------------------       -------------------------------------------------------------
            // |  BT_CLR |         |  BT_0   |  BT_1   |  BT_2   |         |       |         |         |         |         |         |         |
            // |         |         |  BT_3   |  BT_4   |         |         |       |         |         |         |         |         |         |
            // |         |         |         |         |         |         |       |         |         |         |         |         |         |
            // |         |         |         |         |         |         |       |         |         |         |         |         |         |
            // -------------------------------------------------------------       -------------------------------------------------------------

            bindings = <
            &bt BT_CLR &trans &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &trans    &trans &trans &trans &trans &trans &trans
            &trans     &trans &bt BT_SEL 3 &bt BT_SEL 4 &trans       &trans    &trans &trans &trans &trans &trans &trans
            &trans     &trans &trans       &trans       &trans       &trans    &trans &trans &trans &trans &trans &trans
            &trans     &trans &trans       &trans       &trans       &trans    &trans &trans &trans &trans &trans &trans
            >;
        };
    };
};
