
if SHIELD_JJH_CUSTOM_LEFT

config ZMK_KEYBOARD_NAME
    default "JJH Custom 48"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_JJH_CUSTOM_RIGHT

config ZMK_KEYBOARD_NAME
    default "JJH Custom 48 R"

endif

if SHIELD_JJH_CUSTOM_LEFT || SHIELD_JJH_CUSTOM_RIGHT

config ZMK_SPLIT
    default y

endif
